body {
	margin: 0;
}

.heading_m {
	font-size: 1.3rem;
	font-weight: 400;
	margin: 0;
}

.heading_l {
	font-size: 1.6rem;
	font-weight: 600;
	margin: 0;
}

.subheading_m {
	font-size: 0.8rem;
	font-weight: 300;
	margin: 0;
	color: rgba(0, 0, 0, 0.686);
	width: 100%;
	margin-bottom: 6px;
	padding-bottom: 1px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.098);
}

.text_m {
	font-size: 1rem;
	font-weight: 400;
	margin: 0;
	text-align: center;
}
.text_s {
	font-size: 0.9rem;
	font-weight: 300;
	margin: 0;
	text-align: center;
}
.message {
	color: white;
	background-color: #37496c;
	padding: 2px;
	width: fit-content;
	margin-bottom: 5px;
	margin-top: 5px;
	white-space: pre-wrap;
	max-height: 30px;
	overflow-y: scroll;
	text-overflow: ellipsis;
	line-height: 30px;
	transition: all 1s;
	-ms-overflow-style: none;
	scrollbar-width: none;
	border-radius: 5px;
}

.message::-webkit-scrollbar {
	display: none;
}

.message:hover {
	max-height: 125px;
}

.message::before {
	content: '💡';
}

.strikethrough {
	text-decoration: line-through;
	text-decoration-thickness: 1px;
	text-decoration-color: black;
}

.active {
	background-color: rgba(0, 128, 0, 0.251) !important;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
